body{
  margin: 0;
  padding: 0;

}

.txtHall{
  width: 100vw;
  height: 90vh;
  background-color: aquamarine;
}

.balloon{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding-top: 12px;
  text-align: center;
  border-radius: 30px;
  background: #e0edff;
  animation: zoom-in-anim 0.3s alternate;
}

@keyframes zoom-in-anim{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

.balloon::before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

/* .balloon{
  animation: zoomIn 0.4s cubic-bezier(0.19, 1, 0.22, 1) forwards;
} */



.bottom{
  width: 100vw;
  height: 10vh;
  padding: 20px
}

input[type="text"]{
  width: 65vw;
  height: 5vh;
  border: solid 1px gray;
}

.send{
  width: 15vw;
  height: 5vh;
  background-color: cornflowerblue;

}

.clear{
  width: 15vw;
  height: 5vh;
  background-color: gray;
}


